<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="administrador">
    
    <select id="getAllAdministradores" resultType="pojos.Administrador">
        SELECT idAdministrador, nombre, apellidoPaterno, apellidoMaterno, correo
        FROM administrador
    </select>    
    
    <select id="iniciarSesion" resultType="pojos.Administrador" parameterType="pojos.Administrador">
        SELECT * FROM administrador
        WHERE correo = #{correo}
        AND
        password = #{password}
        ;
    </select>

    <insert id="registrar" parameterType="pojos.Administrador">
        INSERT INTO administrador (nombre, apellidoPaterno, apellidoMaterno, correo, password)
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{correo}, #{password})
    </insert>

    <update id="eliminar" parameterType="int">
        DELETE FROM administrador
        WHERE idAdministrador = #{idAdministrador}
    </update>

    <update id="modificar" parameterType="pojos.Administrador">
        UPDATE administrador SET nombre = #{nombre}, apellidoPaterno = #{apellidoPaterno}, apellidoMaterno = #{apellidoMaterno}, password = #{password}
        WHERE idAdministrador = #{idAdministrador}
    </update>
    
</mapper>
