<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="promocion">
    
    <select id="getAllPromociones" resultType="pojos.Promocion">
        SELECT * FROM promocion WHERE idEstatus = 301
    </select>       

    <insert id="registrar" parameterType="pojos.Promocion">
        INSERT INTO promocion (nombre,descripcion,fechaInicio,fechaTermino,
                               restricciones,tipoPromocion,porcentaje,costoPromocion,
                               categoriaPromocion,idEstatus,idSucursal)
        
        VALUES (#{nombre}, #{descripcion},#{fechaInicio},#{fechaTermino},
                #{restricciones},#{tipoPromocion},#{porcentaje},#{costoPromocion},
                #{categoriaPromocion},#{idEstatus},#{idSucursal}
                )
    </insert>
    
    <update id="modificar" parameterType="pojos.Promocion">
        UPDATE promocion SET nombre = #{nombre}, descripcion  = #{descripcion},restricciones = #{restricciones} ,tipoPromocion = #{tipoPromocion},
                                    porcentaje = #{porcentaje},costoPromocion = #{costoPromocion},categoriaPromocion = #{categoriaPromocion},
                                    idEstatus = #{idEstatus},idSucursal = #{idSucursal}
        WHERE idPromocion = #{idPromocion}
    </update>     
    
    <update id="eliminar" parameterType="int">
        UPDATE promocion SET idEstatus = 302
        WHERE idPromocion = #{idPromocion}
    </update>    
    
    <select id="getByNombreOFechaInicioOFechaTermino" resultType="pojos.Promocion" parameterType="String">
        SELECT * FROM promocion
        WHERE nombre LIKE "%"#{nombre}"%"
        UNION       
        SELECT * FROM promocion
        WHERE fechaInicio LIKE "%"#{nombre}"%"
        UNION       
        SELECT * FROM promocion
        WHERE fechaTermino LIKE "%"#{nombre}"%"                
    </select>

    <update id="subirfoto" parameterType="map">
        UPDATE promocion SET fotoPromocion = #{fotoPromocion}
        WHERE idPromocion  = #{idPromocion}
    </update>                                      

</mapper>
