<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="usuario">
    
    <select id="iniciarSesion" resultType="pojos.Usuario" parameterType="pojos.Usuario">
        SELECT * FROM usuario
        WHERE correo = #{correo}
        AND
        password = #{password}
        ;
    </select>
    
    <select id="registrar" parameterType="pojos.Usuario">
        INSERT INTO usuario (nombre,apellidoPaterno,apellidoMaterno,telefono,correo,direccion,fechaNacimiento, password)
        VALUES ( #{nombre}, #{apellidoPaterno},#{apellidoMaterno},#{telefono}, #{correo},#{direccion},#{fechaNacimiento}, #{password} )
    </select>
    
    <select id="getAllUsuarios" resultType="pojos.Usuario">
        SELECT idUsuario,nombre, apellidoPaterno, apellidoMaterno, telefono,direccion,fechaNacimiento,password
        FROM usuario
    </select>

    <select id="obtenerUsuario" resultType="pojos.Usuario" parameterType="pojos.Usuario">
        SELECT * FROM usuario WHERE correo = #{correo};        
    </select>
    
    <update id="modificar" parameterType="pojos.Usuario">
        UPDATE usuario SET nombre = #{nombre}, apellidoPaterno = #{apellidoPaterno}, apellidoMaterno = #{apellidoMaterno}, 
                           telefono = #{telefono}, direccion = #{direccion},fechaNacimiento = #{fechaNacimiento}, password = #{password}
        WHERE idUsuario = #{idUsuario}
    </update>    

    <select id="byCategoria" resultType="pojos.Promocion" parameterType="int">
        SELECT idPromocion,nombre,descripcion,fechaInicio,fechaTermino,restricciones,
               tipoPromocion,porcentaje,costoPromocion,idEstatus,idSucursal
        from promocion
        WHERE categoriaPromocion = #{categoriaPromocion}
    </select>

    <select id="obtenerFoto" resultType="pojos.Promocion" parameterType="map">
        <!--
        SELECT idPromocion,nombre, descripcion,fechaInicio,fechaTermino,
               restricciones,tipoPromocion,porcentaje,costoPromocion,categoriaPromocion,
               idEstatus,idSucursal,TO_BASE64(fotoPromocion) as 'fotoPromocion'
               
        FROM promocion
        WHERE idPromocion = #{idPromocion}
        -->
        <!--
        SELECT idPromocion,promocion.nombre, descripcion,fechaInicio,fechaTermino,
               restricciones,promocion.tipoPromocion , catalogo.nombre as 'nombreTipoPromocion',porcentaje,costoPromocion,categoriaPromocion,
               idEstatus,idSucursal,TO_BASE64(fotoPromocion) as 'fotoPromocion'
               
        FROM promocion
        INNER JOIN catalogo
        ON promocion.tipoPromocion = catalogo.idCatalogo
        WHERE idPromocion = #{idPromocion}
        -->
        SELECT promocion.idPromocion,promocion.nombre, descripcion,fechaInicio,fechaTermino,
               restricciones,promocion.tipoPromocion , catalogo.nombre as 'nombreTipoPromocion',porcentaje,costoPromocion,categoriaPromocion,
               promocion.idSucursal,TO_BASE64(fotoPromocion) as 'fotoPromocion',
                   sucursal.idSucursal ,sucursal.idEmpresa ,
               empresa.idEmpresa,empresa.nombreComercial as 'nombreEmpresa'

        FROM promocion
        INNER JOIN catalogo
        ON promocion.tipoPromocion = catalogo.idCatalogo
        INNER JOIN sucursal ON promocion.idSucursal = sucursal.idSucursal
        INNER JOIN empresa ON sucursal.idEmpresa = empresa.idEmpresa        
        WHERE idPromocion = #{idPromocion}
    </select>

</mapper>
