<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="usuario">
    
    <select id="iniciarSesion" resultType="pojos.Usuario" parameterType="pojos.Usuario">
        SELECT * FROM usuario
        WHERE correo = #{correo}
        AND
        password = #{password}
        ;
    </select>
    
    <select id="registrar" parameterType="pojos.Usuario">
        INSERT INTO usuario (correo, password)
        VALUES (#{correo}, #{password})
    </select>
    
    <select id="registrarComplemento" parameterType="pojos.Usuario">
        INSERT INTO usuario (nombre, apellidoPaterno, apellidoMaterno, telefono, direccion, fechaNacimiento)
        VALUES (#{nombre}, #{apellidoPaterno}, #{apellidoMaterno}, #{telefono}, #{direccion}, #{fechaNacimiento})
        WHERE correo = #{correo}
    </select>
    
</mapper>
